DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True

POSTGRES_DB=traffic_monitoring
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

YOLO_MODEL_PATH=weights/best.pt
